<h1>Reports</h1>
<div>
    <a asp-action="LatestEmployeeStartDates">Most recent work date by employee</a>
</div>
<div>
    <a asp-action="WorkingEmployeesForMonth">Employees that worked in month of year</a>
</div>